*{
    box-sizing: border-box;  /* so that padding doesn't mess overall width of elements */
}
.main-div{
    position: relative;
    display: inline-block;
}
.container-div{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.timer{
    background-color: black;
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
    font-family: 'Press Start 2P', cursive;
}
.enemy-health{
    background-color: red;
    height: 30px;
}
.enemy-health-container{
    position: relative;
    /* height: 30px; */
    width: 100%;
    border: 4px solid white;
    border-left: none;
}
.enemy-health-bar{
    position: absolute;
    background-color: #818cf8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.player-health{
    background-color: red;
    height: 30px;
    width: 100%;
}
.player-health-container{
    position: relative;
    /* height: 30px; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 4px solid white;
    border-right: none;
}
.player-health-bar{
    position: absolute;
    background-color: #818cf8;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.result{
    position: absolute;
    color: white;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    font-family: 'Press Start 2P', cursive;
}